# coding:utf-8
PASSWORD = "doesn't work yet"
BOT_NAME = 'i'
RESPAWN_THRESHOLD = 30


HANIRC = [
    ('irc.hanirc.org', 6665),
]
CP949_SERVER = {
        'server': HANIRC,
        'channel_map': {
            u'#uniko': u'#uniko_utf8',
        },
}

FREENODE = [
    ('irc.freenode.net', 6667),
]
UTF8_SERVER = {
        'server': FREENODE,
        'channel_map': {
            u'#uniko_utf8': u'#uniko',
        },
}

# vim: et ts=4 sts=4 sw=4
