# coding:utf-8
PASSWORD = "doesn't work yet"
BOT_NAME = 'uniko'
PURGE_THRESHOLD = 30


HANIRC = [
    ('irc.hanirc.org', 6665),
]
FREENODE = [
    ('irc.freenode.net', 6667),
]

CP949_SERVER = {
        'server': HANIRC,
        'use_ssl': False,
        'channel_map': {
            # cp949: utf8
            u'#uniko': u'#uniko',
        },
}
UTF8_SERVER = {
        'server': FREENODE,
        'use_ssl': False,
        'channel_map': {
            # utf8: cp949
            u'#uniko': u'#uniko',
        },
}

# vim: et ts=4 sts=4 sw=4
