# coding: utf-8

from uniko import *

#irclib.DEBUG = True

def main():
    pipes = [
        StandardPipe(
            servers = (HANIRC, FREENODE),
            channels = [
                u'#uniko',
                Channel(u'#uniko-multiple', 2),
                (u'#uniko-hanirc', u'#uniko-freenode'),
            ]
        ),
    ]
    uniko = UnikoBot()
    uniko.add_server(HANIRC, nicknames=['uniko'])
    uniko.add_server(FREENODE, nicknames=['uniko'])
    for pipe in pipes:
        uniko.add_pipe(pipe)
    uniko.start()

HANIRC = Server(
    [
        ('irc.hanirc.org', 6667),
    ],
    encoding = 'cp949'
)

OZINGER = Server(
    [
        ('irc.ozinger.org', 6667),
    ],
    encoding = 'utf8'
)

FREENODE = Server(
    [
        ('irc.freenode.net', 6667),
    ],
    encoding = 'utf8'
)

if __name__ == '__main__':
    main()

